
html {
	height: 100%;
}

body {
	height: 100%;
    padding: 1em;
	display: grid;
	grid-template-rows: 24px 1fr;
}

header {
	display: flex;
	justify-content: space-between;
}

#connection {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

#connection .text,
#connection .icon {
	margin-left: 2px;
	margin-right: 2px;
}

#connection .icon {
	font-size: 26px;
	line-height: 19px;
}

#connection[data-state="on"] .icon {
	color: hsl(119, 100%, 36%);
}

#connection[data-state="off"] .icon {
	color: hsl(359, 100%, 45%);
}


.nav-tabs .nav-link {
	background: hsl(0, 0%, 93%);
	border-color: hsl(210, 14%, 89%);
}


#pages {
	display: grid;
	grid-template-rows: max-content 1fr;
	margin-top: 15px
}

.page {
	padding: 1em;
}

#page-map canvas {
	width: 100%;
	height: 100%;
}